@use 'sass:math';
@use '../config' as *;

.default-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    text-align: center;
    white-space: nowrap;
    border-radius: 39px;
    padding: 0.555em 1.444em;
    background-color: #fff;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: var(--foundation-colors-hazegrape-hazegrape-500);

    &.bordered {
        background-color: transparent;
        border: 2px solid var(--foundation-colors-hazegrape-hazegrape-500);
        color: var(--foundation-colors-hazegrape-hazegrape-500);
        padding: 0.45em 1.34em;
    }

    .icon {
        display: block;
        line-height: 0;
    }

}