@use "sass:math";
@use "../config" as *;

.faq__section-wrap {
  padding-block: 64px;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    padding-block: 20px 0;
  }

  &-background {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;

    &-video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.faq__accordion {
  padding-top: 32px;

  &-filters {
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      list-style: none;
      padding: 0;
      margin: 0;
      column-gap: 16px;

      @include media-breakpoint-down(md) {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        gap: 16px;
        scrollbar-width: none;
      }

      li {
        flex-shrink: 0;

        @include media-breakpoint-down(md) {
          scroll-snap-align: start;
        }

        a {
          font-family: var(--font4);
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: -0.03em;
          color: var(--foundation-colors-hazeblack-500);
          transition: color 0.3s ease;
          text-decoration: none;

          @media (hover: hover) {
            &:hover {
              color: var(--foundation-colors-hazeblack-700);
            }
          }
          &.active {
            color: var(--foundation-colors-hazeblack-900);
            text-decoration: underline;
            text-underline-offset: 7px;
          }
        }
      }
    }
  }

  &-search {
    width: 100%;
    margin-block: 32px;
    position: relative;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      position: absolute;
      top: calc(50% - 12px);
      right: 16px;
    }

    &-input {
      width: 100%;
      border: 1px solid var(--foundation-colors-hazeblack-300);
      border-radius: 6px;
      padding-inline: 16px 48px; 
      height: 46px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: var(--foundation-colors-hazeblack-900);

      &::placeholder {
        color: var(--foundation-colors-hazeblack-400);
      }

      &:focus {
        border: 1px solid var(--foundation-colors-hazeblack-900);

        & ~ .faq__accordion-search-icon svg path {
          fill: var(--foundation-colors-hazeblack-900);
        }
      }
    }

    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  &-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    @include media-breakpoint-down(sm) {
      row-gap: 16px;
      padding-block: 32px;
    }
  }

  &-item {
    width: 100%;
    border-bottom: 1px solid rgba(48, 30, 58, 0.15);
    transition: grid-template-rows 0.3s ease;
    padding-bottom: 12px;

    @include media-breakpoint-down(sm) {
      background-color: #fff;
      border: 2px solid var(--text-blue);
      border-radius: 32px;
    }

    &-header {
      grid-template-rows: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 16px;
      cursor: pointer;
      padding-top: 32px;
      transition: margin .2s ease;
      -webkit-tap-highlight-color: transparent;

      @include media-breakpoint-down(sm) {
        padding: 12px 24px 0;
      }

      &-title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: var(--foundation-colors-hazegrape-hazegrape-500);
      }

      &-icon {
        display: block;
        width: 18px;
        height: 18px;
        position: relative;
        flex-shrink: 0;

        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
          border-radius: 2px;
          background-color: var(--foundation-colors-hazeblack-900);
        }

        &::before {
          height: 100%;
          width: 2px;
          top: 0;
          left: calc(50% - 1px);
          transition: transform 0.2s ease;
        }

        &::after {
          height: 2px;
          width: 100%;
          top: calc(50% - 1px);
          left: 0;
        }
      }
    }

    &-body {
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      transition: grid-template-rows 0.3s ease;

      @include media-breakpoint-down(sm) {
        padding-inline: 24px;
      }

      &-inner {
        min-height: 0;
        transition: visibility 1s;
        visibility: hidden;
      }

      ul {
        padding-left: 24px;
      }

      li,
      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--text-blue);
      }
    }

    &.active {
      .faq__accordion-item-header {
        margin-bottom: 12px;
      }
      .faq__accordion-item-body {
        grid-template-rows: 1fr;
      }
      .faq__accordion-item-body-inner {
        visibility: visible;
      }

      .faq__accordion-item-header-icon {
        &::before {
          transform-origin: center;
          transform: rotate(90deg);
        }
      }
    }
  }
}
