@use 'sass:map';
@use 'sass:math';

// USER VARIABLES SECTION

$fontsize: 16px; // Body Font Size
$lineheight: 1.65; // Document Line Height
$textcolor: #301e3a; // Text Color
$userfont: 'Inter', sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format('woff2');
  }
}

@include font('Inter', normal, 400, '../assets/Inter-Regular.woff2');
@include font('Inter', normal, 500, '../assets/Inter-Medium.woff2');
@include font('Inter', normal, 700, '../assets/Inter-Bold.woff2');
@include font('ArchivoNarrow', normal, 500, '../assets/ArchivoNarrow-Medium.woff2');
@include font('ArchivoNarrow', normal, 700, '../assets/ArchivoNarrow-Bold.woff2');
@include font('RobotoCondensed', normal, 700, '../assets/RobotoCondensed-Bold.woff2');
@include font('RobotoCondensed', normal, 900, '../assets/RobotoCondensed-Black.woff2');

// MIXINS SECTION

// Breakpoints Mixin

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px
);

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map.get($breakpoints, $name); @return if($min != 0, $min, null);
}
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $max: map.get($breakpoints, $name); @return if($max and $max > 0, $max - .02, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min { @media (min-width: $min) { @content; } } @else { @content; }
}
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max { @media (max-width: $max) { @content; } } @else { @content; }
}

// Custom Mixin

@function fluid($max: 100, $min: 10) {
  $maxViewportWidth: 1440;
  $minViewportWidth: 375;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  @return clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}

@mixin fluid-text($max: 48, $min: 16) {
  font-size: fluid($max, $min);
}

// RESET STYLES SECTION

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "ArchivoNarrow", sans-serif;
  --third-family: "RobotoCondensed", sans-serif;

  --container-width: 1312px;
  --container-padding-x: 64px;

  --white: #fff;
	--transparent: rgba(255, 255, 255, 0);
	--text-blue: #3e3e59;
	--foundation-colors-hazegrape-hazegrape-50: #eae9eb;
	--foundation-colors-hazegrape-hazegrape-100: #bfb9c2;
	--foundation-colors-hazegrape-hazegrape-200: #a098a4;
	--foundation-colors-hazegrape-hazegrape-300: #74687b;
	--foundation-colors-hazegrape-hazegrape-400: #594b61;
	--foundation-colors-hazegrape-hazegrape-500: #301e3a;
	--foundation-colors-hazegrape-hazegrape-600: #2c1b35;
	--foundation-colors-hazegrape-hazegrape-700: #221529;
	--foundation-colors-hazegrape-hazegrape-800: #1a1120;
	--foundation-colors-hazegrape-hazegrape-900: #140d18;
	--foundation-colors-hazewhite-hazewhite-50: #fdfeff;
	--foundation-colors-hazewhite-hazewhite-100: #f9fcfd;
	--foundation-colors-hazewhite-hazewhite-200: #f7fafd;
	--foundation-colors-hazewhite-hazewhite-300: #f3f8fc;
	--foundation-colors-hazewhite-hazewhite-400: #f1f7fb;
	--foundation-colors-hazewhite-hazewhite-500: #edf5fa;
	--foundation-colors-hazewhite-hazewhite-600: #d8dfe4;
	--foundation-colors-hazewhite-hazewhite-700: #a8aeb2;
	--foundation-colors-hazewhite-hazewhite-800: #82878a;
	--foundation-colors-hazewhite-hazewhite-900: #646769;
	--foundation-colors-hazepurple-hazepurple-50: #ececf9;
	--foundation-colors-hazepurple-hazepurple-100: #c5c5ed;
	--foundation-colors-hazepurple-hazepurple-200: #a9a9e5;
	--foundation-colors-hazepurple-hazepurple-300: #8282d9;
	--foundation-colors-hazepurple-hazepurple-400: #6969d1;
	--foundation-colors-hazepurple-hazepurple-500: #4444c6;
	--foundation-colors-hazepurple-hazepurple-600: #3e3eb4;
	--foundation-colors-hazepurple-hazepurple-700: #30308d;
	--foundation-colors-hazepurple-hazepurple-800: #25256d;
	--foundation-colors-hazepurple-hazepurple-900: #1d1d53;
	--foundation-colors-hazepink-hazepink-50: #fef4f9;
	--foundation-colors-hazepink-hazepink-100: #fbdceb;
	--foundation-colors-hazepink-hazepink-200: #f9cbe1;
	--foundation-colors-hazepink-hazepink-300: #f6b3d3;
	--foundation-colors-hazepink-hazepink-400: #f5a4cb;
	--foundation-colors-hazepink-hazepink-500: #f28dbe;
	--foundation-colors-hazepink-hazepink-600: #dc80ad;
	--foundation-colors-hazepink-hazepink-700: #ac6487;
	--foundation-colors-hazepink-hazepink-800: #854e69;
	--foundation-colors-hazepink-hazepink-900: #663b50;
	--foundation-colors-hazelime-hazelime-50: #faffec;
	--foundation-colors-hazelime-hazelime-100: #effdc4;
	--foundation-colors-hazelime-hazelime-200: #e7fda8;
	--foundation-colors-hazelime-hazelime-300: #dcfc80;
	--foundation-colors-hazelime-hazelime-400: #d5fb68;
	--foundation-colors-hazelime-hazelime-500: #cbfa42;
	--foundation-colors-hazelime-hazelime-600: #b9e43c;
	--foundation-colors-hazelime-hazelime-700: #90b22f;
	--foundation-colors-hazelime-hazelime-800: #708a24;
	--foundation-colors-hazelime-hazelime-900: #55691c;
	--foundation-colors-hazered-900: #4f1319;
	--foundation-colors-hazered-800: #721c24;
	--foundation-colors-hazered-700: #96242f;
	--foundation-colors-hazered-600: #b92d3a;
	--foundation-colors-hazered-500: #dc3545;
	--foundation-colors-hazered-400: #e25563;
	--foundation-colors-hazered-300: #e77681;
	--foundation-colors-hazered-200: #ed969e;
	--foundation-colors-hazered-100: #f2b6bc;
	--foundation-colors-hazered-50: #ffe0e3;
	--foundation-colors-hazeyellow-900: #5c4503;
	--foundation-colors-hazeyellow-800: #856404;
	--foundation-colors-hazeyellow-700: #ad8305;
	--foundation-colors-hazeyellow-600: #d6a206;
	--foundation-colors-hazeyellow-500: #ffc107;
	--foundation-colors-hazeyellow-400: #ffcb2f;
	--foundation-colors-hazeyellow-300: #ffd556;
	--foundation-colors-hazeyellow-200: #ffdf7e;
	--foundation-colors-hazeyellow-100: #ffe9a6;
	--foundation-colors-hazeyellow-50: #fbf0cd;
	--foundation-colors-hazeteal-900: #0c4836;
	--foundation-colors-hazeteal-800: #11694f;
	--foundation-colors-hazeteal-700: #168967;
	--foundation-colors-hazeteal-600: #1ba97f;
	--foundation-colors-hazeteal-500: #20c997;
	--foundation-colors-hazeteal-400: #44d2a8;
	--foundation-colors-hazeteal-300: #67dab8;
	--foundation-colors-hazeteal-200: #8be3c9;
	--foundation-colors-hazeteal-100: #afecda;
	--foundation-colors-hazeteal-50: #dcfff5;
	--foundation-colors-hazeblue-900: #05285b;
	--foundation-colors-hazeblue-800: #073984;
	--foundation-colors-hazeblue-700: #094bac;
	--foundation-colors-hazeblue-600: #0b5cd5;
	--foundation-colors-hazeblue-500: #0d6efd;
	--foundation-colors-hazeblue-400: #3485fd;
	--foundation-colors-hazeblue-300: #5a9cfe;
	--foundation-colors-hazeblue-200: #81b4fe;
	--foundation-colors-hazeblue-100: #a8cbfe;
	--foundation-colors-hazeblue-50: #e6f0ff;
	--foundation-colors-hazecyan-900: #054956;
	--foundation-colors-hazecyan-800: #07697d;
	--foundation-colors-hazecyan-700: #0989a3;
	--foundation-colors-hazecyan-600: #0baaca;
	--foundation-colors-hazecyan-500: #0dcaf0;
	--foundation-colors-hazecyan-400: #34d2f2;
	--foundation-colors-hazecyan-300: #5adbf5;
	--foundation-colors-hazecyan-200: #81e3f7;
	--foundation-colors-hazecyan-100: #a8ecfa;
	--foundation-colors-hazecyan-50: #dafbff;
	--foundation-colors-hazegreen-900: #09311e;
	--foundation-colors-hazegreen-800: #0d462c;
	--foundation-colors-hazegreen-700: #115c39;
	--foundation-colors-hazegreen-600: #157147;
	--foundation-colors-hazegreen-500: #198754;
	--foundation-colors-hazegreen-400: #3e9a6f;
	--foundation-colors-hazegreen-300: #63ad8b;
	--foundation-colors-hazegreen-200: #87c1a6;
	--foundation-colors-hazegreen-100: #acd4c1;
	--foundation-colors-hazegreen-50: #dcf4e1;
	--foundation-colors-hazeorange-900: #5b2d07;
	--foundation-colors-hazeorange-800: #84420a;
	--foundation-colors-hazeorange-700: #ac560e;
	--foundation-colors-hazeorange-600: #d56a11;
	--foundation-colors-hazeorange-500: #fd7e14;
	--foundation-colors-hazeorange-400: #fd933a;
	--foundation-colors-hazeorange-300: #fea75f;
	--foundation-colors-hazeorange-200: #febc85;
	--foundation-colors-hazeorange-100: #fed1aa;
	--foundation-colors-hazeorange-50: #ffead8;
	--foundation-colors-hazemagenta-900: #4d1230;
	--foundation-colors-hazemagenta-800: #6f1b45;
	--foundation-colors-hazemagenta-700: #92235a;
	--foundation-colors-hazemagenta-600: #a12864;
	--foundation-colors-hazemagenta-500: #b33674;
	--foundation-colors-hazemagenta-400: #dd5498;
	--foundation-colors-hazemagenta-300: #e374ab;
	--foundation-colors-hazemagenta-200: #ea95bf;
	--foundation-colors-hazemagenta-100: #f0b6d3;
	--foundation-colors-hazemagenta-50: #fde;
	--foundation-colors-hazeblack-900: #121212;
	--foundation-colors-hazeblack-800: #2b2b2b;
	--foundation-colors-hazeblack-700: #454545;
	--foundation-colors-hazeblack-600: #605f5f;
	--foundation-colors-hazeblack-500: #807e7e;
	--foundation-colors-hazeblack-400: #a7a7a7;
	--foundation-colors-hazeblack-300: #cbcbcb;
	--foundation-colors-hazeblack-200: #eaeaea;
	--foundation-colors-hazeblack-100: #f5f5f5;
	--foundation-colors-hazeblack-50: #fafafb;

  @include media-breakpoint-down(lg) {
    --container-padding-x: 32px; 
  }

  @include media-breakpoint-down(sm) {
    --container-padding-x: 16px; 
  }
}

body {
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;
  color: $textcolor;
  min-width: 375px;
  position: relative;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: #666;
}

::selection {
  color: #fff;
  background-color: $textcolor;
}

button, input, select, textarea {
  line-height: inherit;
  outline: none;
}

input, textarea {
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
