@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../Inter-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../Inter-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "ArchivoNarrow";
  font-style: normal;
  font-weight: 500;
  src: url("../ArchivoNarrow-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "ArchivoNarrow";
  font-style: normal;
  font-weight: 700;
  src: url("../ArchivoNarrow-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 700;
  src: url("../RobotoCondensed-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 900;
  src: url("../RobotoCondensed-Black.woff2") format("woff2");
}
:root {
  --font-family: "Inter", sans-serif;
  --second-family: "ArchivoNarrow", sans-serif;
  --third-family: "RobotoCondensed", sans-serif;
  --container-width: 1312px;
  --container-padding-x: 64px;
  --white: #fff;
  --transparent: rgba(255, 255, 255, 0);
  --text-blue: #3e3e59;
  --foundation-colors-hazegrape-hazegrape-50: #eae9eb;
  --foundation-colors-hazegrape-hazegrape-100: #bfb9c2;
  --foundation-colors-hazegrape-hazegrape-200: #a098a4;
  --foundation-colors-hazegrape-hazegrape-300: #74687b;
  --foundation-colors-hazegrape-hazegrape-400: #594b61;
  --foundation-colors-hazegrape-hazegrape-500: #301e3a;
  --foundation-colors-hazegrape-hazegrape-600: #2c1b35;
  --foundation-colors-hazegrape-hazegrape-700: #221529;
  --foundation-colors-hazegrape-hazegrape-800: #1a1120;
  --foundation-colors-hazegrape-hazegrape-900: #140d18;
  --foundation-colors-hazewhite-hazewhite-50: #fdfeff;
  --foundation-colors-hazewhite-hazewhite-100: #f9fcfd;
  --foundation-colors-hazewhite-hazewhite-200: #f7fafd;
  --foundation-colors-hazewhite-hazewhite-300: #f3f8fc;
  --foundation-colors-hazewhite-hazewhite-400: #f1f7fb;
  --foundation-colors-hazewhite-hazewhite-500: #edf5fa;
  --foundation-colors-hazewhite-hazewhite-600: #d8dfe4;
  --foundation-colors-hazewhite-hazewhite-700: #a8aeb2;
  --foundation-colors-hazewhite-hazewhite-800: #82878a;
  --foundation-colors-hazewhite-hazewhite-900: #646769;
  --foundation-colors-hazepurple-hazepurple-50: #ececf9;
  --foundation-colors-hazepurple-hazepurple-100: #c5c5ed;
  --foundation-colors-hazepurple-hazepurple-200: #a9a9e5;
  --foundation-colors-hazepurple-hazepurple-300: #8282d9;
  --foundation-colors-hazepurple-hazepurple-400: #6969d1;
  --foundation-colors-hazepurple-hazepurple-500: #4444c6;
  --foundation-colors-hazepurple-hazepurple-600: #3e3eb4;
  --foundation-colors-hazepurple-hazepurple-700: #30308d;
  --foundation-colors-hazepurple-hazepurple-800: #25256d;
  --foundation-colors-hazepurple-hazepurple-900: #1d1d53;
  --foundation-colors-hazepink-hazepink-50: #fef4f9;
  --foundation-colors-hazepink-hazepink-100: #fbdceb;
  --foundation-colors-hazepink-hazepink-200: #f9cbe1;
  --foundation-colors-hazepink-hazepink-300: #f6b3d3;
  --foundation-colors-hazepink-hazepink-400: #f5a4cb;
  --foundation-colors-hazepink-hazepink-500: #f28dbe;
  --foundation-colors-hazepink-hazepink-600: #dc80ad;
  --foundation-colors-hazepink-hazepink-700: #ac6487;
  --foundation-colors-hazepink-hazepink-800: #854e69;
  --foundation-colors-hazepink-hazepink-900: #663b50;
  --foundation-colors-hazelime-hazelime-50: #faffec;
  --foundation-colors-hazelime-hazelime-100: #effdc4;
  --foundation-colors-hazelime-hazelime-200: #e7fda8;
  --foundation-colors-hazelime-hazelime-300: #dcfc80;
  --foundation-colors-hazelime-hazelime-400: #d5fb68;
  --foundation-colors-hazelime-hazelime-500: #cbfa42;
  --foundation-colors-hazelime-hazelime-600: #b9e43c;
  --foundation-colors-hazelime-hazelime-700: #90b22f;
  --foundation-colors-hazelime-hazelime-800: #708a24;
  --foundation-colors-hazelime-hazelime-900: #55691c;
  --foundation-colors-hazered-900: #4f1319;
  --foundation-colors-hazered-800: #721c24;
  --foundation-colors-hazered-700: #96242f;
  --foundation-colors-hazered-600: #b92d3a;
  --foundation-colors-hazered-500: #dc3545;
  --foundation-colors-hazered-400: #e25563;
  --foundation-colors-hazered-300: #e77681;
  --foundation-colors-hazered-200: #ed969e;
  --foundation-colors-hazered-100: #f2b6bc;
  --foundation-colors-hazered-50: #ffe0e3;
  --foundation-colors-hazeyellow-900: #5c4503;
  --foundation-colors-hazeyellow-800: #856404;
  --foundation-colors-hazeyellow-700: #ad8305;
  --foundation-colors-hazeyellow-600: #d6a206;
  --foundation-colors-hazeyellow-500: #ffc107;
  --foundation-colors-hazeyellow-400: #ffcb2f;
  --foundation-colors-hazeyellow-300: #ffd556;
  --foundation-colors-hazeyellow-200: #ffdf7e;
  --foundation-colors-hazeyellow-100: #ffe9a6;
  --foundation-colors-hazeyellow-50: #fbf0cd;
  --foundation-colors-hazeteal-900: #0c4836;
  --foundation-colors-hazeteal-800: #11694f;
  --foundation-colors-hazeteal-700: #168967;
  --foundation-colors-hazeteal-600: #1ba97f;
  --foundation-colors-hazeteal-500: #20c997;
  --foundation-colors-hazeteal-400: #44d2a8;
  --foundation-colors-hazeteal-300: #67dab8;
  --foundation-colors-hazeteal-200: #8be3c9;
  --foundation-colors-hazeteal-100: #afecda;
  --foundation-colors-hazeteal-50: #dcfff5;
  --foundation-colors-hazeblue-900: #05285b;
  --foundation-colors-hazeblue-800: #073984;
  --foundation-colors-hazeblue-700: #094bac;
  --foundation-colors-hazeblue-600: #0b5cd5;
  --foundation-colors-hazeblue-500: #0d6efd;
  --foundation-colors-hazeblue-400: #3485fd;
  --foundation-colors-hazeblue-300: #5a9cfe;
  --foundation-colors-hazeblue-200: #81b4fe;
  --foundation-colors-hazeblue-100: #a8cbfe;
  --foundation-colors-hazeblue-50: #e6f0ff;
  --foundation-colors-hazecyan-900: #054956;
  --foundation-colors-hazecyan-800: #07697d;
  --foundation-colors-hazecyan-700: #0989a3;
  --foundation-colors-hazecyan-600: #0baaca;
  --foundation-colors-hazecyan-500: #0dcaf0;
  --foundation-colors-hazecyan-400: #34d2f2;
  --foundation-colors-hazecyan-300: #5adbf5;
  --foundation-colors-hazecyan-200: #81e3f7;
  --foundation-colors-hazecyan-100: #a8ecfa;
  --foundation-colors-hazecyan-50: #dafbff;
  --foundation-colors-hazegreen-900: #09311e;
  --foundation-colors-hazegreen-800: #0d462c;
  --foundation-colors-hazegreen-700: #115c39;
  --foundation-colors-hazegreen-600: #157147;
  --foundation-colors-hazegreen-500: #198754;
  --foundation-colors-hazegreen-400: #3e9a6f;
  --foundation-colors-hazegreen-300: #63ad8b;
  --foundation-colors-hazegreen-200: #87c1a6;
  --foundation-colors-hazegreen-100: #acd4c1;
  --foundation-colors-hazegreen-50: #dcf4e1;
  --foundation-colors-hazeorange-900: #5b2d07;
  --foundation-colors-hazeorange-800: #84420a;
  --foundation-colors-hazeorange-700: #ac560e;
  --foundation-colors-hazeorange-600: #d56a11;
  --foundation-colors-hazeorange-500: #fd7e14;
  --foundation-colors-hazeorange-400: #fd933a;
  --foundation-colors-hazeorange-300: #fea75f;
  --foundation-colors-hazeorange-200: #febc85;
  --foundation-colors-hazeorange-100: #fed1aa;
  --foundation-colors-hazeorange-50: #ffead8;
  --foundation-colors-hazemagenta-900: #4d1230;
  --foundation-colors-hazemagenta-800: #6f1b45;
  --foundation-colors-hazemagenta-700: #92235a;
  --foundation-colors-hazemagenta-600: #a12864;
  --foundation-colors-hazemagenta-500: #b33674;
  --foundation-colors-hazemagenta-400: #dd5498;
  --foundation-colors-hazemagenta-300: #e374ab;
  --foundation-colors-hazemagenta-200: #ea95bf;
  --foundation-colors-hazemagenta-100: #f0b6d3;
  --foundation-colors-hazemagenta-50: #fde;
  --foundation-colors-hazeblack-900: #121212;
  --foundation-colors-hazeblack-800: #2b2b2b;
  --foundation-colors-hazeblack-700: #454545;
  --foundation-colors-hazeblack-600: #605f5f;
  --foundation-colors-hazeblack-500: #807e7e;
  --foundation-colors-hazeblack-400: #a7a7a7;
  --foundation-colors-hazeblack-300: #cbcbcb;
  --foundation-colors-hazeblack-200: #eaeaea;
  --foundation-colors-hazeblack-100: #f5f5f5;
  --foundation-colors-hazeblack-50: #fafafb;
}
@media (max-width: 1023.98px) {
  :root {
    --container-padding-x: 32px;
  }
}
@media (max-width: 575.98px) {
  :root {
    --container-padding-x: 16px;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.65;
  color: #301e3a;
  min-width: 375px;
  position: relative;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: #666;
}

::selection {
  color: #fff;
  background-color: #301e3a;
}

button, input, select, textarea {
  line-height: inherit;
  outline: none;
}

input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: red;
}
input:required:valid, textarea:required:valid {
  border-color: green;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.bundle {
  padding-block: 64px;
}
@media (max-width: 575.98px) {
  .bundle {
    padding-block: 32px;
  }
}
.bundle__banner {
  padding: 64px;
  border-radius: 32px;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
  overflow: hidden;
}
@media (max-width: 1023.98px) {
  .bundle__banner {
    padding-bottom: 90px;
  }
}
@media (max-width: 767.98px) {
  .bundle__banner {
    padding: 32px;
  }
}
.bundle__banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 32px;
}
.bundle__banner-title {
  margin-bottom: 0;
}
.bundle__banner-subtitle {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  line-height: 167%;
  color: var(--white);
}
@media (max-width: 575.98px) {
  .bundle__banner-subtitle {
    font-weight: 400;
    font-size: 16px;
  }
}
.bundle__banner-product {
  display: block;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  right: -50px;
  z-index: -1;
  pointer-events: none;
}
@media (max-width: 1023.98px) {
  .bundle__banner-product {
    right: -100px;
  }
}
@media (max-width: 575.98px) {
  .bundle__banner-product {
    bottom: -25px;
    max-height: initial;
    right: -90px;
    width: 60%;
  }
}
.bundle__banner-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 32px;
  overflow: hidden;
  z-index: -1;
}
.bundle__banner-background::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background: linear-gradient(270deg, rgba(48, 30, 58, 0) 50%, #301e3a 100%);
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 575.98px) {
  .bundle__banner-background::before {
    background: linear-gradient(180deg, rgba(48, 30, 58, 0) 50%, #301e3a 100%);
  }
}
.bundle__banner-video {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bundle__cards {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 1199.98px) {
  .bundle__cards {
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 10px;
  }
}
@media (max-width: 767.98px) {
  .bundle__cards {
    row-gap: 16px;
  }
}
@media (max-width: 575.98px) {
  .bundle__cards {
    flex-direction: column;
    align-items: center;
  }
}
.bundle__card {
  width: 25%;
  min-width: 290px;
  border-radius: 32px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
@media (max-width: 1199.98px) {
  .bundle__card {
    width: calc(33% - 9px);
    min-width: auto;
    flex-grow: 1;
  }
}
@media (max-width: 767.98px) {
  .bundle__card {
    width: calc(50% - 8px);
  }
}
@media (max-width: 575.98px) {
  .bundle__card {
    width: 100%;
  }
}
.bundle__card:not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease;
  opacity: 0;
  pointer-events: none;
}
@media (hover: hover) {
  .bundle__card:not(:last-child):hover::after {
    opacity: 1;
  }
}
.bundle__card:not(:first-child):not(:last-child) {
  margin-left: -7.625%;
}
@media (max-width: 1199.98px) {
  .bundle__card:not(:first-child):not(:last-child) {
    margin-left: initial;
  }
}
.bundle__card:last-child {
  flex-grow: 1;
  margin-left: 10px;
  border: 3px solid var(--foundation-colors-hazegrape-hazegrape-500);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
@media (max-width: 1199.98px) {
  .bundle__card:last-child {
    width: 100%;
    margin-left: initial;
  }
}
.bundle__card:last-child .default-btn {
  height: 44px;
  position: relative;
  z-index: 1;
}
.bundle__card:last-child .default-btn::after {
  content: "";
  display: block;
  border-radius: 39px;
  position: absolute;
  inset: -2px;
  background: linear-gradient(90deg, #301e3a 0%, #4444c6 46.15%, #f28dbe 100%);
  z-index: -1;
  opacity: 0;
  transition: 0.3s ease;
}
@media (hover: hover) {
  .bundle__card:last-child .default-btn:hover {
    border-color: transparent;
    background-color: transparent;
  }
  .bundle__card:last-child .default-btn:hover::after {
    opacity: 1;
  }
}
.bundle__card-title {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 90%;
  text-transform: uppercase;
  color: var(--foundation-colors-hazegrape-hazegrape-500);
}
.bundle__card-size {
  display: inline-block;
  margin-bottom: 8px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--foundation-colors-hazegrape-hazegrape-500);
}
.bundle__card-background {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: -1;
  border-radius: 32px;
  overflow: hidden;
}
.bundle__card-background-video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.default-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  column-gap: 4px;
  text-align: center;
  white-space: nowrap;
  border-radius: 39px;
  padding: 10px 26px;
  background-color: #fff;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--foundation-colors-hazegrape-hazegrape-500);
  transition: background-color 0.3s ease;
}
@media (hover: hover) {
  .default-btn:hover {
    background-color: var(--foundation-colors-hazelime-hazelime-500);
  }
}
.default-btn.bordered {
  background-color: transparent;
  border: 2px solid var(--foundation-colors-hazegrape-hazegrape-500);
  color: var(--foundation-colors-hazegrape-hazegrape-500);
  transition: 0.3s ease;
}
.default-btn.bordered svg path {
  transition: 0.3s ease;
}
@media (hover: hover) {
  .default-btn.bordered:hover {
    background-color: var(--foundation-colors-hazegrape-hazegrape-500);
    color: #fff;
  }
  .default-btn.bordered:hover svg path {
    stroke: #fff;
  }
}
.default-btn .icon {
  display: block;
  line-height: 0;
}

.my-container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.features {
  padding-block: clamp(2rem, 0.0633802817rem + 8.2629107981vw, 7.5rem);
  position: relative;
}
.features__background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.features__background-video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.features__background-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
.features-title {
  margin-bottom: 80px;
}
.features__items {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-block: 52px;
}
@media (max-width: 1023.98px) {
  .features__items {
    flex-wrap: wrap;
    row-gap: 80px;
  }
}
.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 25%;
  flex-shrink: 0;
  padding-inline: 20px;
  position: relative;
}
.features__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: rgba(48, 30, 58, 0.1);
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1023.98px) {
  .features__item {
    width: 50%;
    max-width: 320px;
  }
  .features__item:nth-child(odd)::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgba(48, 30, 58, 0.1);
    position: absolute;
    top: 0;
    right: 0;
  }
  .features__item:not(:nth-child(odd))::after {
    content: none;
  }
}
@media (max-width: 575.98px) {
  .features__item {
    padding-inline: 8px;
  }
}
.features__item-icon {
  display: block;
  width: 72px;
  margin-bottom: 16px;
}
.features__item-title {
  display: inline-block;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--foundation-colors-hazegrape-hazegrape-500);
  margin-bottom: 5px;
}
.features__item-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: var(--text-blue);
}

.reviews {
  background-color: var(--foundation-colors-hazewhite-hazewhite-500);
  padding-block: 128px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .reviews {
    padding-block: 64px;
  }
}
.reviews__slider {
  padding-inline: 52px;
}
@media (max-width: 767.98px) {
  .reviews__slider {
    padding-inline: 16px;
  }
}
.reviews__slider-wrapper {
  overflow: visible;
  margin-bottom: 24px;
}
.reviews__slider-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.reviews__slider-pagination .swiper-pagination-bullet {
  margin: 0 !important;
  width: 6px;
  height: 6px;
  background-color: #3E3E59;
  border-radius: 100%;
  opacity: 1;
  transition: all 0.3s ease;
}
.reviews__slider-pagination .swiper-pagination-bullet-active {
  width: 26px;
  border-radius: 6px;
}
.reviews__card {
  width: 424px;
  border-radius: 32px;
  padding: 40px;
  background-color: #fff;
}
@media (max-width: 575.98px) {
  .reviews__card {
    width: 287px;
    padding: 40px 33px;
  }
}
.reviews__card-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
  margin-bottom: 16px;
}
@media (max-width: 575.98px) {
  .reviews__card-header {
    flex-direction: column;
    row-gap: 16px;
  }
}
.reviews__card-avatar {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.reviews__card-author {
  display: grid;
  row-gap: 4px;
}
@media (max-width: 575.98px) {
  .reviews__card-author {
    align-self: flex-start;
  }
}
.reviews__card-name {
  display: inline-block;
  font-family: var(--second-family);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 12px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #3E3E59;
}
.reviews__card-rating {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2px;
  line-height: 0;
}
.reviews__blockquote {
  display: grid;
  row-gap: 8px;
  margin: 0;
}
.reviews__blockquote-title {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: var(--foundation-colors-hazeblack-500);
}
.reviews__blockquote-text {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #3E3E59;
}

.my-section-title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: clamp(2.5rem, 1.6197183099rem + 3.7558685446vw, 5rem);
  line-height: 90%;
  text-align: center;
  color: var(--foundation-colors-hazegrape-hazegrape-500);
}
.my-section-title.left {
  text-align: left;
}
.my-section-title.white {
  color: #fff;
}
.my-section-title.uppercase {
  text-transform: uppercase;
}
.my-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  margin-bottom: 32px;
}
.my-section__header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}
.my-section__header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 44px;
  height: 44px;
  background-color: #fff;
  cursor: pointer;
}

.ugc {
  padding: 32px 0 128px;
  background-color: var(--foundation-colors-hazewhite-hazewhite-500);
  overflow: hidden;
}
@media (max-width: 575.98px) {
  .ugc {
    padding: 32px 0;
  }
}
@media (max-width: 575.98px) {
  .ugc__header {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    row-gap: 40px;
  }
}
.ugc__slider {
  padding-inline: 52px;
}
@media (max-width: 767.98px) {
  .ugc__slider {
    padding-inline: 16px;
  }
}
.ugc__slider-wrapper {
  overflow: visible;
}
.ugc__slider-card {
  width: 337px;
  height: 408px;
}
@media (max-width: 575.98px) {
  .ugc__slider-card {
    width: 287px;
    height: 347px;
  }
}
.ugc__slider-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 32px;
}